<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Hernandez Espejo</title>
    <link rel="stylesheet" href="../CSS/Autobiografia.css">
</head>
<body>
    <div class="nav">
        <p><a href="Fotos.html">Fotos</a><a href="../index.html">Texto Responsive</a><a href="Autobiografia.html">Auto Biografia</a></p>
    </div>
    
    <div class="wrapper">
        <article class="instructions">
            <h1>Santiago Hernandez Espejo</h1>
            <section class="columns">
                <p>Mi nombre es Santiago Hernandez Espejo soy una persona apasionada al desarrollo de software, actualmente me estoy especializando en <code>backend</code> En el Cesde aprendi a realizar proyectos de una mejor manera y todo lo que requiere realizar uno de estos</p>
                

            </section>
        </article>
        <img src="../Img/FotoPersonal.jpg" alt="Foto Personal">
    </div>

</body>
</html>